{  
    "parser": "babel-eslint",
    "settings": {
        "import/extensions": [".js", ".jsx", ".ts", ".tsx"],
        "import/parsers": {
            "@typescript-eslint/parser": [".ts", ".tsx"]
        },
        "import/resolver": {
            "babel-module": {},
            "alias": {
                "map": [
                    ["@components", "./src/components"]
                ]
            },
            "node": {
                "moduleDirectory": ["node_modules", "src/"],
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    },

    /* disable const reserved warning */
    "parserOptions": {
        "ecmaVersion": 2017
    },

    "env": {
        "es6": true
    },

    "plugins": [
        "import"
    ]
}