.head {
  width: 100%;
  height: 9rem;
  text-align: center;

  position: relative;
  margin-top: 0rem;
  box-shadow: 0 0 64px 1px rgba(51, 149, 61, 0.2);
}
.head .title--wrapper {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.head .title {
  font-family: "segoeui";
  font-size: 48px;
  letter-spacing: 30px;
  text-indent: 30px;
}
.head .sub--title {
  font-family: "appleNeoUL";
  font-size: 1.3rem;
  margin-top: 1.1rem;
}
.sub--title--split {
  display: inline-block;
}
.tab--wrapper {
  width: 100%;
  height: 3rem;
  margin: 3rem auto 0 auto;
  text-align: center;
  line-height: 3rem;
  /* -ms-overflow-style: none; /* IE and Edge */
  /* scrollbar-width: none; Firefox */
}
/* .tab--wrapper::-webkit-scrollbar {
  display: none;
} */
.season--tab {
  font-family: "appleNeoB";
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 6px;
  text-indent: 6px;
  border-bottom: 0.2rem solid black;

  display: inline-block;
  margin-left: 10%;
  cursor: pointer;
}
.hide--tab {
  border: unset;
  color: silver;
}
.show--tab {
  border-bottom: 0.2rem solid black;
  color: black;
}
.season--tab:first-child {
  margin: unset;
}
.season--wrap {
  margin: 7rem auto 0;
  width: 92%;
  max-width: 1705px;
}
.season--wrap .season--name {
  font-size: 2.3rem;
  font-family: "appleNeoB";
  margin-bottom: 3.5rem;
}
.study--wrap .title--wrap {
  margin: 2.2rem auto 0;
  width: 88%;
  border-bottom: 0.1rem solid rgba(51, 149, 61, 0.5);
}
.study--wrap .title--wrap .study--title {
  font-size: 42px;
  font-family: "appleNeoB";
  display: inline-block;
}
.study--wrap .title--wrap .lecturer--wrap {
  font-size: 10px;
  font-family: "appleNeoUL";
  display: inline-block;
  margin-left: 16px;
  margin-top: 0.5rem;
}
.study--wrap .title--wrap .lecturer--wrap .lecturer {
  font-family: "appleNeoM";
  font-size: 17px;
  display: block;
  margin-right:5px;
}
.study--wrap .title--wrap .lecturer--wrap .lecturer--list {
  font-family: "appleNeoUL";
  font-size: 18px;
}
.study--wrap .contest--wrap {
  width: 83%;
  margin: 2rem auto 0 auto;
  position: relative;
  min-height: 12rem;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}
.study--wrap .contest--wrap .contest {
  position: absolute;
  margin-top: 0.5rem;
}

.study--wrap .contest--wrap .ProbPicker--wrap {

  width: 12rem;
  font-size: 1rem;
  display: inline-block;
}
.contest {
  display: inline-block;
}
.school {
  font-size: 0.8rem;
}
/* 모바일용 강사 학교 */
.school--lecturer{ 
  font-size: 0.7rem;
  font-family: "appleNeoUL";
}
.no--contest {
  margin: 2.5rem auto 5rem auto;
  text-align: center;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.season--wrap .study--wrap {
  margin-bottom: 6rem;
}
.season--wrap .study--wrap:last-child {
  margin-bottom: 6rem;
}
.lecturer--wrap--mobile {
  display: none;
}
@media (max-width: 1137px) {
  .lecturer--wrap--mobile {
    display: block;
  }
  .head .title {
    font-family: "segoeui";
    font-size: 2.7rem;
    letter-spacing: 0.7rem;
    text-indent: 0.7rem;
  }
  .head .sub--title div {
    font-size: 0.9rem;
  }
  .season--tab {
    margin-left: 4%;
    letter-spacing: 0;
    text-indent: 0;
  }
  .tab--wrapper {
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 0 1.9rem;
  }
  .tab--wrapper::-webkit-scrollbar {
    height: 0rem;
    background-color: unset;
  }
  .tab--wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(51, 149, 61, 0.2);
  }
  .study--wrap .title--wrap .study--title {
    font-size: 1.9rem;
  }

  .study--wrap .contest--wrap{
    text-align: center;
    height: auto;
    justify-content:center;
  }
  .study--wrap .contest{
    position: unset !important;
  }
  .season--wrap .study--wrap {
    margin-bottom: 5rem;
  }
  .study--wrap .title--wrap {
    padding-bottom: 0.9rem;
    font-size: 0.7rem;
  }
  .study--wrap .title--wrap .lecturer--wrap {
    display: flex;
  }
} 

@media (max-width: 900px) {
  .season--tab {
    font-size: 1.1rem;
    line-height: 2.1rem;
    margin-left: 8%;
  }
}
@media (max-width: 845px) {
  .head .title {
    font-size: 2rem;
  }
}
@media (max-width: 587px) {
  .head{
    width: 91%;
    border-radius: 1rem;
    margin: 5rem auto 0 auto;
  }
  .study--wrap .contest--wrap {
    width: 90%;
    justify-content:center;
  }
  .study--wrap .rank {
    width: 11rem;
  }
  .study--wrap.contest {
    width: 100%;
  }
  .ProbPicker--wrap {
    width: 10.9rem !important;
  }
  .test {
    text-align: right;
  }
  .ProbPick {
    width: 3.8rem;
  }
}
@media (max-width: 426px) {
  .season--wrap .season--name {
    text-align: center;
    margin-bottom: 3.5rem;
  }
  .head .title {
    font-size: 1.6rem;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;
  }
  .season--wrap {
    width: 95%;
    margin-bottom: 4.2rem;
  }
  .rank {
    width: 8.9rem !important;
  }
  .study--wrap .contest--wrap {
    width: 92%;
    
  }
}
@media (max-width: 360px) {
  .contest--wrap{
    width: 100% !important;
  }
}
.lecturer--wrap--mobile {
  width: 92%;
  margin: 2rem auto 0 auto;
}
