body {
  padding-top: 50px;
}
.main--title {
  font-size: 3rem;
  margin: 1.6rem 0;
}

table {
  text-align: center;
}

.clubs--wrapper {
  width: 100%;
  margin: 2rem 0rem 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clubs--row {
  display: flex;
  justify-content: center;
  width: 90%;
  height: auto;
}
.clubs--row {
  flex-wrap: wrap;
}
.club--img {
  position: absolute;
  left: -30px;
  top: -30px;
}
.club {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15.2rem;
  height: 19rem;
  margin: 0 4% 0 0;
}
.club:hover {
  transform: scale(1.05);
  transition: transform 0.4s;
}
.club img {
  border-radius: 50%;
  flex-grow: 0;
}
.club .club--img {
  width: 12.6rem;
}
.club .school--text div {
  text-align: right;
  width: 12rem;
  font-size: 1.7rem;
}

h1 {
  font-family: 'appleNeoM',sans-serif;
  margin-bottom: 0.2rem;
}
#sogang--id {
  top: -22px;
}
.balloon--text {
}
@media (max-width: 1012px) {
  .club {
    margin-bottom: 2rem;
  }
  .balloon {
    padding: 3.9rem 1rem 7.1rem 0 !important;
    background-size: auto 100%;
  }
  .balloon--text {
    padding-right: 0rem !important;
  }
  .balloon--text--whiteback {
    padding-right: 1.1rem !important;
  }
  .balloon--240 {
    top: 1.1rem !important;
    right: 0.9rem !important;
    font-size: 1rem !important;
  }
  .main--title {
    font-size: 1.9rem !important;
  }
  .balloon--title--sin {
    line-height: 2.2rem !important;
    font-size: 2.4rem !important;
  }
  .balloon--title--pmg {
    font-size: 2.4rem !important;
    line-height: 2.8rem !important;
    word-break: keep-all;
  }
}
@media(max-width:600px){
  .activity--wrapper{
    margin: 0 0 2rem 0 !important;
  }
  .activity--mobile--content{
    margin-top: -0.8rem;
    margin-bottom: 1rem;
    padding: 1rem 0rem 2rem 0rem !important;
  }
}
